body {
    font-size: 2rem;
}

.container {
    display: flex;
    width:98vw;
    justify-content: center;
    flex-direction: column;
    gap:2rem;
    
}

.charContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:0.5rem;

}



button {
    padding:0.3rem;
    font-size: 1.2rem;
}

table,tr,td,th {
    border: 2px solid grey;
    border-collapse: collapse;
    text-align: center;
}

table {
    width:40vw;
   
}

.tableContainer {
    display: flex;
    justify-content: center;

}

h2 {
    text-align: center;
}

button {
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    border: transparent;
    padding:1rem;
}